body {
  background-color: #00FA9A;
  padding-bottom: 8px;
  font-family: 'Bellota Text', cursive;
}

h1 {
  font-size: 4.4rem;
}

h2, h2 a {
  color: black;
  font-size: 200%;
  font-size: 35px;
  font-size: 2.4vw;
}

#set {
  border: 0px solid red;
  width: 40px;
  font-size: 15px;
  font-weight: bold;
  position: fixed;
  right: 5px;
  margin-top: 5px;
}

#wrapper {
  border: 0px solid red;
  width: 70%;
  min-height: 97vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#quoteWrapper {
  min-width: 270px;
  max-width: 550px;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 15vh;
}

#quote {
  border: 2px solid green;
  border-radius: 4px;
  background-color: #fff766;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

#quote p, h5 {
  font-size: 2.5rem;
}

#quote h5 {
  font-weight: bold;
  font-size: 330%;
}

#buttons {
  border: 0px solid green;
  min-height: 50px;
  margin: 25px auto 0 auto;
}

#buttons #tweet, #fb {
  height: 50px;
  padding-top: 15px;
  border: 0px solid green;
  border-radius: 4px;
  background-color: #fff766;
  float: left;
  width: 50px;
  margin: 2px;
}

#newquote {
  height: 50px;
  border: 2px solid green;
  border-radius: 4px;
  margin-right: 0;
  padding-top: 4px;
  float: right;
}

#newquote {
  font-size: 80%;
}

#footer {
  position: relative;
  bottom: 5px;
  font-size: 1.9rem;
}

#footer a {
  color: black;
}

.clear {
  clear: both;
}