body {
    background-color: #00FA9A;
    font-family: 'Montserrat', serif;
}

#quoteWrapper {
    min-width: 270px;
    max-width: 550px;
    min-height: 350px;
}

#quote p {
    font-family: 'Bellota Text', cursive;
}